################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DijkstraAlgorithm/backup
/DijkstraAlgorithm/bin/Debug/net7.0
/DijkstraAlgorithm/obj
/.vs
